.contained {
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 40px 40px 0 0;
    padding: 8% 5%;
    position: relative;
    @include desktop {
        display: flex;
        flex-wrap: wrap;
        border-radius: 0;
    }
    @include tab-only {
        border-radius: 0;
    }
    &_starter {
        @include desktop {
            margin: 0 auto;
            width: 30%;
        }
    }
    &_main {
        @include desktop {
            margin: 0 auto;
            width: 30%;
        }
    }
    &_dessert {
        @include desktop {
            margin: 0 auto;
            width: 30%;
        }
    }
    &_title {
        display: flex;
        justify-content: space-between;
        font-family: 'Shrikhand', cursive;
        font-size: 18px;
        @include desktop {
            width: 100%;
        }
    }
    &_box {
        cursor: pointer;
        overflow: hidden;
        padding: 10px 15px;
        margin: 15px 0;
        background-color: white;
        border-radius: 20px;
        box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: .1);
        line-height: 25px;
        animation-name: box_spawn;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        position: relative;
        transition: .5s;
        &:after {
            display: flex;
            align-items: center;
            justify-content: center;
            font: var(--fa-font-solid);
            content: '\f058';
            color: white;
            font-size: 22px;
            transform: translateX(100%);
            width: 15%;
            height: 100%;
            background-color: $color-third;
            border-radius: 0 20px 20px 0;
            position: absolute;
            top: 0;
            right: 0;
            transition: all .5s;
        }
        &:hover::after {
            transform: translateX(0);
            transition: all .5s;
        }
        & p {
            margin-right: 0;
            transition: all .5s;
        }
        &:hover p {
            margin-right: 15%;
            transition: all .5s;
        }
        &-title {
            font-weight: 700;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
        &-description {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
        }
    }
    & h3 {
        margin-top: 40px;
        font-weight: 400;
    }
}