// menu page content style
.contained {
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 40px 40px 0 0;
    padding: 8% 5%;
    position: relative;
    @include desktop {
        display: flex;
        flex-wrap: wrap;
        border-radius: 0;
    }
    @include tab-only {
        border-radius: 0;
    }
    &_title {
        display: flex;
        justify-content: space-between;
        font-family: 'Shrikhand', cursive;
        font-size: 18px;
        @include desktop {
            width: 100%;
        }
        & h1 {
            font-size: 26px;
            margin: 0;
        }
    }
    &_box {
        cursor: pointer;
        overflow: hidden;
        padding: 10px 15px;
        margin: 15px 0;
        background-color: white;
        border-radius: 20px;
        box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: .1);
        line-height: 25px;
        position: relative;
        transition: .5s;
        &-1 {
            margin-right: 0;
            transition: all .5s;
        }
        &-2 {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 22px;
            transform: translateX(100%);
            width: 20%;
            height: 100%;
            background-color: $color-third;
            border-radius: 0 20px 20px 0;
            position: absolute;
            top: 0;
            right: 0;
            transition: all .5s;
        }
        & i {
            transform: rotate(0deg);
            transition: all 1s;
        }
        &:active .contained_box-2 {
            transform: translateX(0);
            transition: all .5s;
        }
        &:active .contained_box-1 {
            margin-right: 18%;
            transition: all .5s;
        }
        &:active i {
            transform: rotate(720deg);
            transition: all 1s;
        }
        &-title {
            font-weight: 700;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
        &-description {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
        }
    }
    & h2 {
        margin-top: 40px;
        font-size: 22px;
        font-weight: 400;
    }
    &_starter, &_main, &_dessert {
        @include desktop {
            margin: 0 auto;
            width: 30%;
        }
    }
}

// basic menu style
.border_title {
    width: 10%;
    height: 3px;
    background-color: $color-third;
    margin-top: 5px;
    @include tab-only {
        width: 5%;
    }
}

span.price {
    margin: 0 15px;
    font-weight: 700;
}

span.description {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}