.position_img-ench {
    object-position: 50% 60%;
}

// height of menu image box
.canva {
    height: 55vw;
    @include desktop {
        overflow: hidden;
    }
    @include small-card {
        height: 53vw;
    }
    & img {
        width: 100%;
        object-fit: cover;
    }
}